<h1 style="text-align:center"><%= @user.first_name %> <%= @user.last_name %></h1>
<div class="container d-flex mt-4">

  <%= cl_image_tag @user.photo.key, height: 300, width: 400, crop: :fill %>
  <div class="ml-4">

    <p>Age: <%= @user.age %></p>
    <p>City: <%= @user.city %></p>
    <p>Occupation: €<%= @user.occupation %>/day</p>
    <p>About me: <%= @user.about_me %></p>
    
</div>
