<div class="container d-flex mt-4">

  <%= cl_image_tag @user.photo.key, height: 400, width: 300, crop: :fill %>
  <div class="ml-4">
        <h1 style="margin-bottom: 2rem"><%= @user.first_name %> <%= @user.last_name %></h1>
	    <h3>Age: <%= @user.age %></h3>
	    <h3>City: <%= @user.city %></h3>
	    <h3>Occupation: <%= @user.occupation %></h3>
	    <h3>About me: <%= @user.about_me %></h3>
	    <p><%= link_to "Message #{@user.first_name} #{@user.last_name}", new_personal_message_path(receiver_id:@user) %></p>
	    
	</div>
</div>


<div class="container">
  <div class="d-flex">
	<h1 style="margin-top: 7rem">My instruments</h1>
	<div style="margin-top: 7rem"><%= link_to 'Add new instrument', root_path, class: 'btn btn-primary' %></div>
  </div>
	<div class="list-wrapper">
	<% @user.instruments.each do |instrument| %>
	<div class="list-item">
	    <div class="inner-img">
		  	<%= cl_image_tag instrument.photo.key, height: 300, width: 400, crop: :fill %>
		</div>
			<div class="row">
			  	<div class="col-12">
			  		<div class="inner-content">

			  		<h3><%= instrument.name %></h3>
				    <h5>Category: <%= instrument.category %></h5>
				    <h5>Year: <%= instrument.year %></h5>
				    <h5>Rate: €<%= instrument.rate %>/day</h5>
				    <h5>Address: <%= instrument.address %></h5>
				   </div> 
				</div>
			</div>
			</div>
		<% end %>
		</div>
	
</div>

