<h1 style="text-align:center"><%= @user.first_name %> <%= @user.last_name %></h1>
<div class="container d-flex mt-4">

  <%= cl_image_tag @user.photo.key, height: 400, width: 300, crop: :fill %>
  <div class="ml-4">

	    <p>Age: <%= @user.age %></p>
	    <p>City: <%= @user.city %></p>
	    <p>Occupation: <%= @user.occupation %></p>
	    <p>About me: <%= @user.about_me %></p>
	    
	</div>
</div>


<div class="container">
  <div class="d-flex">
	<h1 style="margin-top: 7rem">My instruments</h1>
  </div>
	<div class="list-wrapper">
	<% @user.instruments.each do |instrument| %>
	<div class="list-item">
	    <div class="inner-img">
		  	<%= cl_image_tag instrument.photo.key, height: 300, width: 400, crop: :fill %>
		</div>
			<div class="row">
			  	<div class="col-12">
			  		<div class="inner-content">

			  		<h3>Name: <%= instrument.name %></h3>
				    <p>Category: <%= instrument.category %></p>
				    <p>Year: <%= instrument.year %></p>
				    <p>Rate: €<%= instrument.rate %>/day</p>
				    <p>Address: <%= instrument.address %></p>
				   </div> 
				</div>
			</div>
			</div>
		<% end %>
		</div>
	
</div>

