<h3>Book an instrument</h3>

  <%= simple_form_for [ @instrument, @booking ] do |f| %>
          <p> <%=  @instrument.rate %></p>
          <%= f.input :details %>
          <%= f.input :start_date, as: :string, label: "Dates", placeholder: "From", wrapper_html: { class: "inline_field_wrapper" } %>
  <%= f.input :end_date, as: :string, label: '&nbsp;'.html_safe, placeholder: "To", disabled: true, wrapper_html: { class: "inline_field_wrapper" } %>          <%= f.submit "Make a reservation", class: 'btn btn-success mb-4' %>
  <% end %>



   

