

<div class="container">
<div class="d-flex">
  <h1>My Rentals <% if @bookings.count > 0 %>(<%= @bookings.count %>)<% end %></h1>
  <%= link_to 'Find an instrument', instruments_path, class: 'btn btn-primary' %>
</div>

<div class="list-wrapper">
<% @bookings.each do |booking| %>
  <div>
  <div class="list-item">
    <div class="d-flex">
      <div class="inner-img">
      </div>

      <div class="inner-content">
        <h4>Name: <%= booking.instrument.name %></h4>
        <div class="d-flex">
          <p>Booking period: <%= booking.start_date %> - <%= booking.end_date %></p>
        </div>
        <p>Price: <%= booking.price %></p>
      </div>
    </div>

    <%#= REVIEWS %>

    <% if booking.end_date < Date.today %>
    <div class="card">
      <ul class="list-group">
        <% booking.reviews.each do |review| %>
          <li class="list-group-item">
            <p><%= review.title %></p>
            <%= @star_checked %>
            <p><%= review.content %></p>
          </li>
        <% end %>
      </ul>
      <%= link_to 'Leave a review', new_booking_review_path(booking.id), class: 'btn btn-secondary' %>
    </div>
    <% end %>

  </div>
<% end %>

<%= link_to 'Back', root_path, class: 'btn btn-primary' %>
