<div class="navbar">
  <div class="nav-container">
  <div class="d-flex">
    <div class="logo">

    </div>
    <div class="menu-wrapper">
      <div class="menu-items">
        <ul>
          <li><%= link_to 'Rent an instrument', instruments_path %></li>
          <li><%= link_to 'My rentals', rentals_path %></li>
          <li><%= link_to 'My instruments', orders_path %></li>
        </ul>
      </div>
      <%= image_tag('account_circle_black_48dp.svg') %>
    </div>
  </div>
  </div>
</div>

<div class="container">
<div class="d-flex">
  <h1>My Rentals <% if @bookings.count > 0 %>(<%= @bookings.count %>)<% end %></h1>
  <%= link_to 'Find an instrument', instruments_path, class: 'btn btn-primary' %>
</div>

<div class="list-wrapper">
<% @bookings.each do |booking| %>
  <div>

  <div class="list-item">
    <div class="d-flex">
      <div class="inner-img">
        <%= cl_image_tag instrument.photo.key %>
      </div>

      <div class="inner-content">
        <div class="d-flex">
          <h2>Owner: <%= instrument.owner %></h2>
          <p><%= booking.start_date %> - <%= booking.end_date %></p>
        </div>
        <p>Price: <%= booking.price %></p>
      </div>
    </div>
  </div>
<% end %>

<%= link_to 'Back', root_path, class: 'btn btn-primary' %>
<%= link_to 'My orders', orders_path, class: 'btn btn-primary' %>
