<div class="d-flex">
<div class="col-xs-12 col-md-8 col-lg-6">
  <div class="search-box">
      <h1>Instrumental</h1>
        <%= form_tag instruments_path, method: :get do %>
          <div class="form-group">
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find your next instrument"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
          </div>
          <% Instrument::CATEGORIES.each do |category| %>
            <span class="category-tag" role="group" aria-label="Basic radio toggle button group">
              <%= label_tag "category", category.capitalize %>
              <%= radio_button_tag "category", category %>
            </span>
          <% end %>
        <% end %>
    </div>

    <div class="list-count">
      <p>Instruments (<%= Instrument.count %>)</p>
    </div>

    <div class="instrument-list">
    <% @instruments.each do |instrument| %>
      <div class="card-container">
        <%= cl_image_tag instrument.photo.key, height: 200, width: 200, crop: :fill %>
        <div class="card-inner-info">
        <h3><%= link_to instrument.name, instrument_path(instrument) %></h3>
        <div class="d-flex">
            <p><%= instrument.model %></p>
            <p>€<%= instrument.rate %>/day</p>
        </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="col-xs-12 col-md-4 col-lg-6">
  <div class="m-auto", id="map"
     style="width: auto; height: 100vh; position: -webkit-sticky; position: sticky; top: 25px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
