<div class="container mt-4">
   <h3>List an instrument for rent</h3>

 <%= simple_form_for @instrument do |f| %>
          <%= f.input :name, placeholder: 'Violin' %>
          <%= f.input :model %>
          <%= f.input :category, :collection => %w[woodwinds strings brass percussion guitar keyboard other] %>
          <%= f.input :details %>
          <%= f.input :year%>
          <%= f.input :rate %>
          <%= f.input :address %>
          <%= f.input :photo, as: :file %>

          <%= f.submit class: 'btn btn-primary' %>
  <% end %>

  <%= link_to 'back', instruments_path, class: 'btn btn-primary mt-4' %>
</div>

