<h1 style="text-align:center"><%= @instrument.name %> <%= @instrument.model %></h1>
<div class="container d-flex mt-4">
  <%= cl_image_tag @instrument.photo.key, height: 300, width: 400, crop: :fill %>
  <div class="ml-4">
    <p>Category: <%= @instrument.category %></p>
    <p>Year: <%= @instrument.year %></p>
    <p>Rate: €<%= @instrument.rate %>/day</p>
    <p>Contact: <%= @owner.first_name %> <%= @owner.last_name %></p>

    <%= link_to 'Book', new_instrument_booking_path(@instrument), class: 'btn btn-success mb-4' %><br>
    <%= link_to 'Browse Instruments', instruments_path, class: 'btn btn-primary' %>
  </div>
</div>
