<h1 style="text-align:center"><%= instrument.name %> <%= instrument.model %></h1>
<div class="container">
  <ul>
    <%= cl_image_tag @article.photo.key, height: 300, width: 400, crop: :fill %>
    <li>Type: <%= instrument.type %></li>
    <li>Year: <%= instrument.year %></li>
    <li>Rate: <%= instrument.rate %>/per day</li>
    <li>Contact: <%= instrument.owner_id %></li>
  </ul>

</div>
