<h1 style="text-align:center"><%= @instrument.name %> <%= @instrument.model %></h1>
<div class="container">
  <ul>
    <img src="https://source.unsplash.com/collection/4664641/400x400">
    <li>Type: <%= @instrument.category %></li>
    <li>Year: <%= @instrument.year %></li>
    <li>Rate: <%= @instrument.rate %>/per day</li>
    <li>Contact: <%= @owner.name %></li>
  </ul>

</div>
