<!DOCTYPE html>
<html>
  <head>
    <title>Instrumental</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="navbar">
    <div class="nav-container">
      <div class="d-flex">
        <div class="logo">

        </div>
        <div class="menu-wrapper">
          <div class="menu-items">
            <ul>
              <li><%= link_to 'Rent an instrument', instruments_path %></li>
              <li><%= link_to 'My rentals', rentals_path %></li>
              <li><%= link_to 'My instruments', orders_path %></li>
              <li><%= link_to 'Conversations', conversations_path %></li>
            </ul>
          </div>
          <%= link_to 'logout', destroy_user_session_path, method: :delete  %>
        </div>
      </div>
    </div>
  </div>
  <%= render 'shared/flashes' %>
  <%= yield %>
  </body>
</html>
